.delivery-item-cover {
  height: 190px;
  width: 260px;
  background-color: var(--primary-bg);
  box-shadow: var(--collection-shadow);
  border-radius: 8px;
}

.delivery-item-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.delivery-item-title {
  font-size: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 6px;
}

/* General card hover effect for popping up */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px); /* Move the card up on hover */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

/* Specific image hover effect inside the card */
.card img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover img {
  transform: scale(1.05); /* Scale the image slightly */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow effect to the image */
}
